# Set the global owners for the taqueria repository
*       @mweichert @jevonearth

# Set the SRE team as code owners for all github workflows
/.github/workflows/    @ecadlabs/sre

# Add code owners for website
/website/ @hu3man @alexzbusko @russellmorton
