# Set the global owners for the taqueria repository
*  @ecadlabs/taqueria

# Set the SRE team as code owners for all github workflows
/.github/workflows/    @ecadlabs/sre

# Add Taqueria team as code owners for website
/website/ @ecadlabs/taqueria

# Add Taqueria team as code owners for readme.md
/readme.md @ecadlabs/taqueria

# Add SDET team as code owners for tests directory in taqueria
/tests/ @ecadlabs/sdet 
