.wrapper {
	position: relative;
	padding-top: 100px;
}

.features {
	display: flex;
	align-items: center;
	padding: 2rem 0;
	width: 100%;
}

.featureSvg {
	position: absolute;
	z-index: -1;
	bottom: 60%;
	height: 200px;
	width: 200px;
}

.images {
	display: flex;
	flex-wrap: wrap;
	margin: 0 150px;
}

.image {
	margin: 20px;
}

.image img {
	width: 100%;
}