.nft-minting-page h4 {
  margin: 0px;
  padding: 20px;
}

.nft-minting-page button {
  height: fit-content;
  white-space: nowrap;
  padding: 12px 18px;
  background-color: #fcaf17;
  color: #373f41;
  font-size: 12px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Montserrat;
  border-radius: 3px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
