.wrapper {
	position: relative;
	z-index: 1;
}
.content {
	-webkit-clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 15%);
	clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 15%);
	background-color: var(--ifm-color-primary-lightest);
	height: 100%;
	width: 100%;
	padding: 200px 0 150px 0;
}
.logoSvg {
	position: absolute;
	right: 10%;
	top: -20px;
	z-index: 2;
}
.features {
	display: flex;
	align-items: start;
	padding: 2rem 0;
	width: 100%;
	position: relative;
}

.left {
	margin: 0 20px;
}

.left video {
	width: 516px;
	padding-top: 40px;
	border-radius: 10px;
	background-color: #f04e6e;
	border: 1px solid #f04e6e;
}

.right {
	width: 48%;
	margin: 0 20px;
}

.right h1 {
	margin-bottom: 50px;
}

.feature {
	display: flex;
	flex-wrap: wrap;
}

.featureText {
	width: 40%;
	margin: 0 50px 50px 0;
}

@media screen and (max-width: 1300px) {
	.featureSvg {
		height: 150px;
		width: 120px;
		margin-top: 30px;
	}

	.features {
		flex-direction: column-reverse;
		align-items: center;
		margin: 0 auto;
	}

	.featureText {
		margin: 0 20px;
	}

	.left {
		padding-bottom: 100px;
	}
}

@media screen and (max-width: 996px) {
	.content {
		-webkit-clip-path: none;
		clip-path: none;
		background-color: var(--ifm-color-primary-lightest);
		padding: 50px 0 0px 0;
	}

	.logoSvg {
		display: none;
	}

	.features {
		flex-direction: column-reverse;
		align-items: center;
		margin: 0 auto;
	}

	.featureText {
		width: 100%;
	}

	.left {
		padding-bottom: 50px;
	}

	.left video {
		width: 100%;
	}
	.right {
		width: 90%;
		margin: 0 20px;
	}
}
