body.vscode-light {
    color: black;
}

body.vscode-dark {
    color: white;
}

body.vscode-high-contrast {
    color: red;
}

.editorDiv {
    border: 1px solid;
    border-color: var(--vscode-editorWidget-resizeBorder);
    margin: 5px;
    padding: 5px;
    display: table-cell;
    vertical-align: top;
}
.valueTitle {
    vertical-align: top;
}