.features {
	display: flex;
	align-items: center;
	padding: 2rem 0;
	width: 100%;
	background-color: var(--ifm-color-primary-lightest);
}

.featureSvg {
	height: 200px;
	width: 200px;
}

.gravityForm-3 .field-object fieldset {
	border: none;
}
