name: main

on:
  pull_request:
    branches:
      - main

  push:
    tags:
      - v*
    branches:
      - main

  release:
    types: [published]

concurrency:
  group: ${{ github.ref_name || github.ref }}
  cancel-in-progress: true

jobs:
  # When we use reusable we lose the ability to to filter out the workflow for changes to certain paths.
  # This job creates boolean outputs based on path filters. These outputs can then be used as job conditions
  detect-changes:
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.head.repo.fork }}
    outputs:
      vscode: ${{ steps.filter.outputs.vscode }}
    steps:
    - uses: actions/checkout@v3
    - uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          vscode:
            - 'taqueria-vscode-extension/**'

  detect-minor-version:
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/v') &&
            !github.event.pull_request.head.repo.fork }}
    outputs:
      minor-version: ${{ steps.check-minor-version.outputs.result }}
    steps:
    - name: Get version
      id: get-version
      uses: battila7/get-version-action@v2

    - name: Check minor version
      id: check-minor-version
      run: |
        if [ $(( ${{ steps.get-version.outputs.minor }} % 2 )) -eq 0 ]; then
          echo "::set-output name=result::even"
        else
          echo "::set-output name=result::odd"
        fi
  build-and-cache-node-modules:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@v3
         
      - uses: actions/setup-node@v3
        with: 
          registry-url: ${{ env.NPM_REGISTRY }}
          scope: "${{ env.SCOPE }}"
          cache: 'npm'

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: "1.23.4"

      - name: Build all
        run: |
          export PATH="$PATH:$(pwd)"
          npm run build-all

      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: ./node_modules/**
          key: cache-node-modules-${{ github.run_id }}

  # build-binaries:
  #   permissions:
  #     contents: 'read'
  #     id-token: 'write'
  #   runs-on: ${{ matrix.os }}
  #   if: ${{ github.event_name != 'release' && !github.event.pull_request.head.repo.fork }}
  #   needs:
  #     - build-and-cache-node-modules
  #   strategy:
  #     fail-fast: true
  #     matrix:
  #      include:
  #        - os: ubuntu-latest
  #          os_short: ubuntu
  #          deno_target: "x86_64-unknown-linux-gnu"
  #          taqueria_bin: "taq"
  #        - os: windows-latest
  #          os_short: windows
  #          deno_target: "x86_64-pc-windows-msvc"
  #          taqueria_bin: "taq.exe"
  #        - os: macOS-latest
  #          os_short: macos
  #          deno_target: "x86_64-apple-darwin"
  #          taqueria_bin: "taq"

  #   outputs:
  #     public-url-ubuntu: ${{ steps.public-url.outputs.ubuntu }}
  #     public-url-windows: ${{ steps.public-url.outputs.windows }}
  #     public-url-macos: ${{ steps.public-url.outputs.macos }}

  #   env:
  #     DENO_TARGET: ${{ matrix.deno_target }}

  #   steps:
  #     - name: Setup repo
  #       uses: actions/checkout@v3

  #     - name: Setup Deno
  #       uses: denoland/setup-deno@v1
  #       with:
  #         deno-version: "1.23.4"

  #     ## This job will compile the binary for the target OS. The binary is then tested by initializing a project called "test_project"
  #     ## If the initialization command output is equal to "Project taq'ified!" we know that the binary works for the given os, else the command exits with status code 1.
  #     - name: Build the binary for ${{ matrix.os }}
  #       id: build-bin
  #       shell: bash
  #       env:
  #         TAQ_VERSION: ${{ github.ref_name }}
  #         DENO_DIR: "./deno"
  #       run: |
  #         BUILD=`git rev-parse --short "$GITHUB_SHA"`
  #         TAQ_VERSION="${TAQ_VERSION/\//-}"
  #         deno compile --output taq --allow-run --allow-write --allow-read --allow-env --allow-net --import-map ./import_map.json --no-prompt --target $DENO_TARGET index.ts --quickstart "`cat quickstart.md`" --setBuild "$BUILD" --setVersion "$TAQ_VERSION" --lock ./deno-lock.json
  #         ./"${{ matrix.taqueria_bin }}" init -p ./test_project
  #         if [ ! -f ./test_project/.taq/config.json ]; then
  #           echo "Project not initialized"
  #           exit 1
  #         fi
  #         mv "${{ matrix.taqueria_bin }}" "taq.${{ matrix.deno_target }}"

  #     - name: Authenticate with GCP
  #       id: gcp-auth
  #       uses: google-github-actions/auth@v0
  #       with:
  #         workload_identity_provider: "projects/${{ secrets.GCP_PROJECT }}/locations/global/workloadIdentityPools/github-actions-storage-pool/providers/github-actions-oidc-provider"
  #         service_account: "${{ secrets.GCP_SERVICE_ACCOUNT }}"

  #     - name: Upload binary to GCP
  #       id: upload-file
  #       uses: 'google-github-actions/upload-cloud-storage@v0'
  #       with:
  #         path: "taq.${{ matrix.deno_target }}"
  #         destination: "taqueria-artifacts/${{ github.ref }}"

  #     - name: Set public url
  #       id: public-url
  #       run: |
  #         echo "::set-output name=${{ matrix.os_short }}::https://storage.googleapis.com/taqueria-artifacts/${{ steps.upload-file.outputs.uploaded }}"

  # gather-info-for-e2e-tests:
  #   runs-on: ubuntu-latest
  #   needs:
  #     - build-binaries

  #   if: ${{ always() && !(contains(needs.*.result, 'failure')) && github.event_name != 'release' }}

  #   outputs:
  #     test-chunks: ${{ steps['set-test-chunks'].outputs['test-chunks'] }}
  #     test-chunk-ids: ${{ steps['set-test-chunk-ids'].outputs['test-chunk-ids'] }}
  #     test-chunks-formatted: ${{ steps['format-test-chunks'].outputs['test-chunks-formatted'] }}

  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: actions/setup-node@v3
  #       with:
  #         node-version: 16.16.x
  #         cache: 'npm'

  #     # This step currently attempts to put all test files found in the e2e folder into 4 equal sized buckets. The output is a list of lists
  #     - id: set-test-chunks
  #       name: Set Chunks
  #       run: echo "::set-output name=test-chunks::$(npx jest --listTests --json tests/e2e/ | jq -c '[_nwise(length / 2 | ceil)]')"

  #     # This step just creates a list of numbers representing the different buckets of tests
  #     - id: set-test-chunk-ids
  #       name: Set Chunk IDs
  #       run: echo "::set-output name=test-chunk-ids::$(echo $CHUNKS | jq -c 'to_entries | map(.key)')"
  #       env:
  #         CHUNKS: ${{ steps['set-test-chunks'].outputs['test-chunks'] }}

  #     # This step will take in the buckets of tests and format the names to remove the absolute path part leaving only the name we care about
  #     - id: format-test-chunks
  #       name: Format Chunks
  #       run: echo "::set-output name=test-chunks-formatted::$(echo $CHUNKS | jq -c '[.[] | join(" ") | sub("(/home|/Users)/runner/work/taqueria/taqueria/tests/e2e/";"";"g")]')"
  #       env:
  #         CHUNKS: ${{ steps['set-test-chunks'].outputs['test-chunks'] }}

  # run-tests:
  #   name: OS ${{ matrix.os }} test chunk ${{ matrix.chunk-ids }}
  #   runs-on: ${{ matrix.os }}
  #   strategy:
  #     fail-fast: true
  #     matrix:
  #       os: [ubuntu-latest, macos-latest]
  #       chunk-ids: ${{ fromJson(needs.gather-info-for-e2e-tests.outputs['test-chunk-ids']) }}
  #       include:
  #       - os: ubuntu-latest
  #         url: ${{ needs.build-binaries.outputs.public-url-ubuntu }}
  #         final-name: taq
  #         make-executable-cmd: chmod +x
  #         get-current-dir: echo "$(pwd)"
  #         cache_path: |
  #           ~/.deno
  #           ~/.cache/deno
  #       - os: macos-latest
  #         url: ${{ needs.build-binaries.outputs.public-url-macos }}
  #         final-name: taq
  #         make-executable-cmd: chmod +x
  #         get-current-dir: echo "$(pwd)"
  #         cache_path: |
  #           ~/.deno
  #           ~/Library/Caches/deno

  #   env:
  #     UNLIMITED_PINATA_TOKEN: ${{ secrets.PINATA_JWT_TOKEN }}
  #     SCAFFOLDING_PAT: ${{ secrets.SCAFFOLDING_PAT }}

  #   needs:
  #     - build-binaries
  #     - gather-info-for-e2e-tests
  #   if: ${{ always() && !(contains(needs.*.result, 'failure')) && github.event_name != 'release' && !(startsWith(github.ref, 'refs/tags/v')) }}
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: actions/setup-node@v3
  #       with:
  #         node-version: 16.16.x
  #         cache: 'npm'

  #     - uses: denoland/setup-deno@v1
  #       with:
  #         deno-version: "1.23.4"

  #     - name: setup-docker
  #       if: runner.os == 'macOS'
  #       run: |
  #         brew install docker
  #         brew install colima
  #         colima start

  #     - name: Cache node modules
  #       uses: actions/cache@v3
  #       with:
  #         path: ./node_modules/**
  #         key: cache-node-modules-${{ github.run_id }}

  #     - name: download the binary from the build-binaries job and make it executable
  #       if: ${{ !github.event.pull_request.head.repo.fork }}
  #       run: |
  #         curl --url ${{ matrix.url }} -o ${{ matrix.final-name }} -L
  #         ${{ matrix.make-executable-cmd }} ${{ matrix.final-name }}
  #         ${{ matrix.get-current-dir }} >> $GITHUB_PATH

  #     - name: build binary and make executable
  #       if: ${{ github.event.pull_request.head.repo.fork }}
  #       env:
  #         TAQ_VERSION: ${{ github.ref_name }}
  #         DENO_DIR: "./deno"
  #       run: |
  #         COMMIT=`git rev-parse --short "$GITHUB_SHA"`
  #         TAQ_VERSION="${TAQ_VERSION/\//-}"
  #         deno compile --output taq --target $DENO_TARGET --allow-run --allow-write --allow-read --allow-env --allow-net index.ts --quickstart "`cat quickstart.md`" --setBuild "$COMMIT" --setVersion "$TAQ_VERSION" --lock ./deno-lock.json
  #         [[ $(./taq init -p ./test_project) == "Project taq'ified!" ]]
  #         chmod +x taq
  #         echo "$(pwd)" >> $GITHUB_PATH

      # - name: Build docker image
      #   run: npm run build-docker --workspaces --if-present

      # - name: Run unit tests
      #   run: npm run test:unit -w tests

  #     - name: Run integration tests
  #       run: npm run test:integration -w tests

  #     - name: Run e2e tests
  #       run: npm run test:e2e -w tests ${{ fromJSON(env.CHUNKS)[matrix.chunk-ids] }}
  #       env:
  #         CHUNKS: ${{ needs.gather-info-for-e2e-tests.outputs['test-chunks-formatted'] }}

  # report-e2e-status:
  #   needs: run-tests
  #   if:  ${{ failure() && github.event_name != 'release' }}
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: ravsamhq/notify-slack-action@v1
  #       with:
  #         notification_title: "Failure in the e2e Tests"
  #         status: ${{ needs.run-tests.result }} # required
  #         notify_when: 'failure'
  #         message_format: '{emoji} ${{ github.actor }}, *{workflow}* {status_message}, please investigate: <{run_url}|Failing Run>'
  #       env:
  #         SLACK_WEBHOOK_URL: ${{ secrets.E2E_MONITORING_SLACK }} # required

  publish-npm-packages:
    runs-on: ubuntu-latest
    needs:
      - build-and-cache-node-modules
      # - run-tests
    permissions:
      packages: write
      contents: read
    env: 
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      VERDACCIO_TOKEN: ${{ secrets.ECADINFRA_NPM_AUTH_TOKEN }}
      SCOPE: '@taqueria'
      NPM_REGISTRY: https://registry.npmjs.org/
      PRIVATE_NPM_REGISTRY: https://npm.ecadinfra.com
    outputs:
      pr-version: ${{ steps.publish-package.outputs.pr-version }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with: 
          scope: "${{ env.SCOPE }}"
          cache: 'npm'

      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: ./node_modules/**
          key: cache-node-modules-${{ github.run_id }}

      - name: Publish for PR
        if:  ${{ github.event_name == 'pull_request' }}
        id: publish-package
        run: |
          export HUSKY=0
          echo ${VERDACCIO_TOKEN} >> ~/.npmrc
          SHORT_SHA=$(echo ${GITHUB_SHA} | cut -c1-8)
          PACKAGE_VERSION=$(node -p "require('./package.json').version")
          BRANCH_NAME=$(echo ${GITHUB_REF} | cut -d'/' -f 3)
          PR_VERSION="${PACKAGE_VERSION}-${BRANCH_NAME}.${SHORT_SHA}"
          echo "::set-output name=pr-version::$PR_VERSION"
          npx lerna version "${PR_VERSION}" --no-push --no-git-tag-version --yes
          npm publish --workspaces --no-private --registry $PRIVATE_NPM_REGISTRY

      - name: Publish for prerelease
        if:  ${{ github.event.action != 'published' && startsWith(github.ref, 'refs/tags/v') }}
        run: |
          npm publish --workspaces --tag 'next' --access public
      
      - name: Publish for official release
        if: ${{ !github.event.release.prerelease && github.event.action == 'published' }}
        run: |
          npm publish --workspaces --tag 'latest' --access public 
  # Add
  # vscode-extension-workflow:
  #   needs: 
  #     - detect-changes
  #     - publish-npm-packages

  #   if: ${{ (needs.detect-changes.outputs.vscode == 'true' || 
  #           github.event_name == 'release' || 
  #           startsWith(github.ref, 'refs/tags/v')) &&
  #           !github.event.pull_request.head.repo.fork }}
  #   uses: ./.github/workflows/vscode-extension.yml
  #   secrets:
  #     GCP_PROJECT: ${{ secrets.GCP_PROJECT }}
  #     GCP_SERVICE_ACCOUNT: ${{ secrets.GCP_SERVICE_ACCOUNT }} 
  #     VSCE_PAT: ${{ secrets.VSCE_PAT }} 

  pr-comment:
    runs-on: ubuntu-latest
    # Without the 'always()' expression, the other conditions are not evaluated if a job is skipped or fails.
    if: ${{ always() &&
            !(contains(needs.*.result, 'failure')) && 
            github.event_name == 'pull_request' &&
            !github.event.pull_request.head.repo.fork }}
    needs: 
      # - build-binaries
      - publish-npm-packages
      # - vscode-extension-workflow
    steps:
      - uses: actions/checkout@v3

      - name: Get packages with lerna
        run: npx lerna ls >> ./packages

      - name: create pr comment
        uses: actions/github-script@v5
        id: pr-comment
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const fs = require('fs');
            const git_short_sha = "${{ github.sha }}".substring(0, 8)
            const git_tag = "${{ github.ref }}".split('tags/')[1];

            // Build the vscode-extension workflow comment
            const vsCodeWorkflowState = "${{ needs.vscode-extension-workflow.result }}"
            
            let vsCodeCommentBody = ''
            if (vsCodeWorkflowState.includes('success')) {
              vsCodeCommentBody = `<p><a href="${{ needs.vscode-extension-workflow.outputs.vsixGcsUrl }}">${{ needs.vscode-extension-workflow.outputs.artifactFilename }}</a></p>`;
            } else {
              vsCodeCommentBody = `Build ${{ needs.vscode-extension-workflow.result }}`;
            }

            const packages = fs.readFileSync('packages', 'utf-8');

            let packagesBody = ''

            packages.split(/\r?\n/).forEach(package =>  {
                packagesBody = packagesBody.concat(`npm i ${package}-${{ needs.publish-npm-packages.outputs.pr-version }}\n`);
            });

            let body = `
              <table>
                <tr>
                  <th scope="row">Latest Commit</th>
                  <td>${git_short_sha}</td>
                </tr>
                <tr>
                  <th scope="row">npm Packages</th>
                  <td>
                      <p>${packagesBody}</p>
                  </td>
                </tr>
              </table>
            `;


            const {data: comments} = await github.rest.issues.listComments({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
            })

            const botComment = comments.find(comment => comment.user.id === 41898282)                                                                       

            if (botComment) {
              await github.rest.issues.updateComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                comment_id: botComment.id,
                body: body
              })
            } else {
              await github.rest.issues.createComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.issue.number,
                body: body
              })
            }

  # release:
  #   name: Release
  #   runs-on: ubuntu-latest
  #   needs:
  #     - detect-minor-version
  #     - build-binaries
  #     - publish-npm-packages
  #     - vscode-extension-workflow
  #   if: ${{ startsWith(github.ref, 'refs/tags/v') &&
  #           !github.event.pull_request.head.repo.fork }}
  #   steps:
  #     - uses: actions/checkout@v3

  #     - name: Download binaries 
  #       id: download-binaries 
  #       run: |
  #         mkdir release && cd release
  #         wget ${{ needs.build-binaries.outputs.public-url-ubuntu }} -O taq-linux
  #         wget ${{ needs.build-binaries.outputs.public-url-windows }} -O taq-windows.exe
  #         wget ${{ needs.build-binaries.outputs.public-url-macos }} -O taq-macos
  #         wget ${{ needs.vscode-extension-workflow.outputs.vsixGcsUrl }}

  #     - name: Pre-release
  #       if: ${{ needs.detect-minor-version.outputs.minor-version == 'odd' }}
  #       id: pre-release
  #       uses: softprops/action-gh-release@v1
  #       with:
  #         files: |
  #           ./release/*
  #         draft: false
  #         prerelease: true

  #     - name: Final release
  #       if: ${{ needs.detect-minor-version.outputs.minor-version == 'even' }}
  #       id: final-release
  #       uses: softprops/action-gh-release@v1
  #       with:
  #         files: |
  #           ./release/*
  #         draft: true
