name: main

on:
  pull_request:
    branches:
      - main
  # push:
  #   tags:
  #     - v*
  release:
    types: [published]

env:
  SCOPE: '@taqueria'

jobs:
  build-binaries:
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ${{ matrix.os }}
    if: github.event_name != 'release'
    strategy:
      fail-fast: true
      matrix:
       include:
         - os: ubuntu-latest
           os_short: ubuntu
           deno_target: "x86_64-unknown-linux-gnu"
           taqueria_bin: "taq"
         - os: windows-latest
           os_short: windows
           deno_target: "x86_64-pc-windows-msvc"
           taqueria_bin: "taq.exe"
         - os: macOS-latest
           os_short: macos
           deno_target: "x86_64-apple-darwin"
           taqueria_bin: "taq"

    outputs:
      public-url-ubuntu: ${{ steps.public-url.outputs.ubuntu }}
      public-url-windows: ${{ steps.public-url.outputs.windows }}
      public-url-macos: ${{ steps.public-url.outputs.macos }}

    env:
      DENO_TARGET: ${{ matrix.deno_target }}

    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: "^1.0.0"

      ## This job will compile the binary for the target OS. The binary is then tested by initializing a project called "test_project"
      ## If the initialization command output is equal to "Project taq'ified!" we know that the binary works for the given os, else the command exits with status code 1.
      - name: Build the binary for ${{ matrix.os }}
        id: build-bin
        shell: bash
        env:
          TAQ_VERSION: "{{ github.ref_name }}"
        run: |
          deno compile --output taq --target $DENO_TARGET --allow-run --allow-write --allow-read --allow-env index.ts --quickstart "`cat quickstart.md`" --setBuild ${{ github.ref_name }} --setVersion ${{ github.ref_name }}
          [[ $(./"${{ matrix.taqueria_bin }}" init -p ./test_project) == "Project taq'ified!" ]] 
          mv "${{ matrix.taqueria_bin }}" "taq.${{ matrix.deno_target }}"

      - name: Authenticate with GCP
        id: gcp-auth
        uses: google-github-actions/auth@v0
        with:
          workload_identity_provider: "projects/${{ secrets.GCP_PROJECT }}/locations/global/workloadIdentityPools/github-actions-storage-pool/providers/github-actions-oidc-provider"
          service_account: "${{ secrets.GCP_SERVICE_ACCOUNT }}"

      - name: Upload binary to GCP
        id: upload-file
        uses: 'google-github-actions/upload-cloud-storage@v0'
        with:
          path: "taq.${{ matrix.deno_target }}"
          destination: "taqueria-artifacts/${{ github.ref }}/${{ github.sha }}"

      - name: Set public url
        id: public-url
        run: |
          echo "::set-output name=${{ matrix.os_short }}::https://storage.googleapis.com/taqueria-artifacts/${{ steps.upload-file.outputs.uploaded }}"

  vscode-extension-workflow:
    uses: ./.github/workflows/vscode-extension.yml
    secrets:
      GCP_PROJECT: ${{ secrets.GCP_PROJECT }}
      GCP_SERVICE_ACCOUNT: ${{ secrets.GCP_SERVICE_ACCOUNT }} 
      VSCE_PAT: ${{ secrets.VSCE_PAT }} 

  # publish-protocol-to-npm:
  #   uses: ecadlabs/taqueria/.github/workflows/npm-publish.yml@main
  #   with:
  #     dir: taqueria-protocol
  #   secrets:
  #     NPM_TOKEN: ${{ secrets.NPMJS_PAT }}

  # publish-sdk-to-npm:
  #   needs: publish-protocol-to-npm
  #   uses: ecadlabs/taqueria/.github/workflows/npm-publish.yml@main
  #   with:
  #     dir: taqueria-sdk
  #   secrets:
  #     NPM_TOKEN: ${{ secrets.NPMJS_PAT }}

  # publish-ligo-plugin-to-npm:
  #   needs: publish-sdk-to-npm
  #   uses: ecadlabs/taqueria/.github/workflows/npm-publish.yml@main
  #   with:
  #     dir: taqueria-plugin-ligo
  #   secrets:
  #     NPM_TOKEN: ${{ secrets.NPMJS_PAT }}
  
  # publish-smartpy-plugin-to-npm:
  #   needs: publish-sdk-to-npm
  #   uses: ecadlabs/taqueria/.github/workflows/npm-publish.yml@main
  #   with:
  #     dir: taqueria-plugin-smartpy
  #   secrets:
  #     NPM_TOKEN: ${{ secrets.NPMJS_PAT }}

  # publish-taquito-plugin-to-npm:
  #   needs: publish-sdk-to-npm
  #   uses: ecadlabs/taqueria/.github/workflows/npm-publish.yml@main
  #   with:
  #     dir: taqueria-plugin-taquito
  #   secrets:
  #     NPM_TOKEN: ${{ secrets.NPMJS_PAT }}

  # publish-flextesa-plugin-to-npm:
  #   needs:
  #     - publish-sdk-to-npm
  #   uses: ecadlabs/taqueria/.github/workflows/npm-publish.yml@main
  #   with:
  #     dir: taqueria-plugin-flextesa
  #   secrets:
  #     NPM_TOKEN: ${{ secrets.NPMJS_PAT }}

  # run-tests:
  #   needs: build-binaries
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-node@v2
  #       with:
  #         node-version: 16.x

  #     - uses: denoland/setup-deno@v1
  #       with:
  #         deno-version: "^1.0.0"

  #     - name: get binary and make executable from previous step for tests
  #       run: |
  #         wget ${{ needs.build-binaries.outputs.public-url-ubuntu }} -O taq
  #         chmod +x taq
  #         echo "$(pwd)" >> $GITHUB_PATH

  #     - name: install dependencies
  #       run: npm ci
      
  #     - name: Run unit tests
  #       run: |
  #         npm run test:unit --workspace tests

  #     - name: Run integration tests
  #       run: |
  #         npm run test:integration --workspace tests

  #     - name: Run e2e tests
  #       run: |
  #         npm run test:e2e --workspace tests

  pr-comment:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    needs: 
      - build-binaries
      - vscode-extension-workflow
      # - publish-protocol-to-npm
      # - publish-sdk-to-npm
      # - publish-ligo-plugin-to-npm
      # - publish-smartpy-plugin-to-npm
      # - publish-taquito-plugin-to-npm
      # - publish-flextesa-plugin-to-npm
    steps:
      - uses: actions/checkout@v2

      - name: create pr comment
        uses: actions/github-script@v5
        id: pr-comment
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const fs = require('fs');
            const git_short_sha = "${{ github.sha }}".substring(0, 8)
            const git_tag = "${{ github.ref }}".split('tags/')[1];

            // Build the vscode-extension workflow comment
            const vsCodeWorkflowState = "${{ needs.vscode-extension-workflow.result }}"
            
            console.log(vsCodeWorkflowState)
            let vsCodeCommentBody = ''
            if (vsCodeWorkflowState.includes('success')) {
              vsCodeCommentBody = `[${{ needs.vscode-extension-workflow.outputs.artifactFilename }}](${{ needs.vscode-extension-workflow.outputs.vsixGcsUrl }})`;
            } else {
              vsCodeCommentBody = `:x: VSCode extension build skipped/failed`;
            }

            function readInfo(filePath) {
              try {
                const data = fs.readFileSync(filePath)
                const JSONdata = JSON.parse(data.toString())
                const name = JSONdata.name.split("/")[1]
                const version = JSONdata.version
                return { name, version }
              } catch (error) {
                console.error(`Got an error trying to read the file: ${error.message}`)
              }
            }

            const ligo = readInfo("./taqueria-plugin-ligo/package.json")
            const smartpy = readInfo("./taqueria-plugin-smartpy/package.json")
            const taquito = readInfo("./taqueria-plugin-taquito/package.json")
            const sdk = readInfo("./taqueria-sdk/package.json")
            const flextesa = readInfo("./taqueria-plugin-flextesa/package.json")

            let body = `
              <table>
                <tr>
                  <th>GitHub Commit</th>
                </tr>
                <tr>
                    <td>${git_short_sha}</td>
                </tr>
                <tr>
                  <th>Taq Binaries</th>
                </tr>
                <tr><p><a href="${{ needs.build-binaries.outputs.public-url-ubuntu }}">Linux</a></p></tr>
                <tr>[MacOS](${{ needs.build-binaries.outputs.public-url-macos }})</tr>
                <tr>[Windows](${{ needs.build-binaries.outputs.public-url-windows }})</tr>
                <tr>
                  <th>npm Packages</th>
                </tr>
                <tr>
                    <td>npm install ${{ env.SCOPE }}/${sdk.name}@0.0.0-pr-${{ github.event.number }}-${git_short_sha}</td>
                    <td>taq install ${{ env.SCOPE }}/${ligo.name}@0.0.0-pr-${{ github.event.number }}-${git_short_sha}</td>
                    <td>taq install ${{ env.SCOPE }}/${smartpy.name}@0.0.0-pr-${{ github.event.number }}-${git_short_sha}</td>
                    <td>taq install ${{ env.SCOPE }}/${taquito.name}@0.0.0-pr-${{ github.event.number }}-${git_short_sha}</td>
                    <td>taq install ${{ env.SCOPE }}/${flextesa.name}@0.0.0-pr-${{ github.event.number }}-${git_short_sha}</td>
                </tr>
                <tr>
                  <th>VSCode Extension VSIX</th>
                </tr>
                <tr>
                    <td>${vsCodeCommentBody}</td>
                </tr>
              </table>
            `;


            const {data: comments} = await github.rest.issues.listComments({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
            })

            const botComment = comments.find(comment => comment.user.id === 41898282)                                                                       

            if (botComment) {
              await github.rest.issues.updateComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                comment_id: botComment.id,
                body: body
              })
            } else {
              await github.rest.issues.createComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.issue.number,
                body: body
              })
            }

  # release:
  #   name: Release
  #   runs-on: ubuntu-latest
  #   needs:
  #     - build-binaries
  #     - publish-protocol-to-npm
  #     - publish-sdk-to-npm
  #     - publish-ligo-plugin-to-npm
  #     - publish-smartpy-plugin-to-npm
  #     - publish-taquito-plugin-to-npm
  #     - publish-flextesa-plugin-to-npm
  #   if: startsWith(github.ref, 'refs/tags/v')
  #   steps:
  #     - uses: actions/checkout@v2

  #     - name: Download binaries 
  #       id: download-binaries 
  #       run: |
  #         mkdir release && cd release
  #         wget ${{ needs.build-binaries.outputs.public-url-ubuntu }} -O taq-linux
  #         wget ${{ needs.build-binaries.outputs.public-url-windows }} -O taq-windows.exe
  #         wget ${{ needs.build-binaries.outputs.public-url-macos }} -O taq-macos

  #     - name: Release
  #       id: release
  #       uses: softprops/action-gh-release@v1
  #       with:
  #         files: |
  #           ./release/*
  #         draft: true
