name: main

on:
  pull_request:
    branches:
      - main

  # push:
  #   tags:
  #     - v*

  # release:
  #   types: [published]

# concurrency:
#   group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/main' || github.run_number }}
#   cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

# env:
#   SCOPE: '@taqueria'
#   NPM_REGISTRY: 'https://registry.npmjs.org/'
#   GH_REGISTRY: 'https://npm.pkg.github.com/'

jobs:
  # build-binaries:
  #   permissions:
  #     contents: 'read'
  #     id-token: 'write'
  #   runs-on: ${{ matrix.os }}
  #   if: github.event_name != 'release'
  #   strategy:
  #     fail-fast: true
  #     matrix:
  #      include:
  #        - os: ubuntu-latest
  #          os_short: ubuntu
  #          deno_target: "x86_64-unknown-linux-gnu"
  #          taqueria_bin: "taq"
  #        - os: windows-latest
  #          os_short: windows
  #          deno_target: "x86_64-pc-windows-msvc"
  #          taqueria_bin: "taq.exe"
  #        - os: macOS-latest
  #          os_short: macos
  #          deno_target: "x86_64-apple-darwin"
  #          taqueria_bin: "taq"

  #   outputs:
  #     public-url-ubuntu: ${{ steps.public-url.outputs.ubuntu }}
  #     public-url-windows: ${{ steps.public-url.outputs.windows }}
  #     public-url-macos: ${{ steps.public-url.outputs.macos }}

  #   env:
  #     DENO_TARGET: ${{ matrix.deno_target }}

  #   steps:
  #     - name: Setup repo
  #       uses: actions/checkout@v2

  #     - name: Setup Deno
  #       uses: denoland/setup-deno@v1
  #       with:
  #         deno-version: "^1.0.0"

  #     ## This job will compile the binary for the target OS. The binary is then tested by initializing a project called "test_project"
  #     ## If the initialization command output is equal to "Project taq'ified!" we know that the binary works for the given os, else the command exits with status code 1.
  #     - name: Build the binary for ${{ matrix.os }}
  #       id: build-bin
  #       shell: bash
  #       run: |
  #         deno compile --output taq --target $DENO_TARGET --allow-run --allow-write --allow-read --allow-env index.ts 
  #         [[ $(./"${{ matrix.taqueria_bin }}" init -p ./test_project) == "Project taq'ified!" ]] 
  #         mv "${{ matrix.taqueria_bin }}" "taq.${{ matrix.deno_target }}"

  #     - name: Authenticate with GCP
  #       id: gcp-auth
  #       uses: google-github-actions/auth@v0
  #       with:
  #         workload_identity_provider: "projects/${{ secrets.GCP_PROJECT }}/locations/global/workloadIdentityPools/github-actions-storage-pool/providers/github-actions-oidc-provider"
  #         service_account: "${{ secrets.GCP_SERVICE_ACCOUNT }}"

  #     - name: Upload binary to GCP
  #       id: upload-file
  #       uses: 'google-github-actions/upload-cloud-storage@v0'
  #       with:
  #         path: "taq.${{ matrix.deno_target }}"
  #         destination: "taqueria-artifacts/${{ github.ref }}/${{ github.sha }}"

  #     - name: Set public url
  #       id: public-url
  #       run: |
  #         echo "::set-output name=${{ matrix.os_short }}::https://storage.googleapis.com/taqueria-artifacts/${{ steps.upload-file.outputs.uploaded }}"

  publish-npm:
    # runs-on: ubuntu-latest
    # permissions:
    #   packages: write
    #   contents: read
    # strategy:
    #   matrix:
    #     include:
    #       # - dir: taqueria-plugin-flextesa
    #       - dir: taqueria-plugin-ligo
    #       - dir: taqueria-plugin-smartpy
    #       - dir: taqueria-plugin-taquito
    #       # - dir: taqueria-plugin-teztnets
    #       # - dir: taqueria-sdk
    uses: ecadlabs/taqueria/.github/workflows/npm-publish.yml
    with:
      dir: "taqueria-plugin-ligo"
    secrets:
      NPM_TOKEN: ${{ secrets.NPMJS_PAT }}

  # build-and-publish-npm-packages:
  #   runs-on: ubuntu-latest
  #   permissions:
  #     packages: write
  #     contents: read
  #   strategy:
  #     matrix:
  #       include:
  #         # - dir: taqueria-plugin-flextesa
  #         - dir: taqueria-plugin-ligo
  #         - dir: taqueria-plugin-smartpy
  #         - dir: taqueria-plugin-taquito
  #         # - dir: taqueria-plugin-teztnets
  #         - dir: taqueria-sdk
  #   defaults:
  #     run:
  #       working-directory: ${{ matrix.dir }}
  #   env: 
  #     NODE_AUTH_TOKEN: ${{ secrets.NPMJS_PAT }}
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-node@v2
  #       with: 
  #         registry-url: ${{ env.NPM_REGISTRY }}
  #         scope: "${{ env.SCOPE }}"

  #     - name: Check tag suffix
  #       id: check-tag-suffix
  #       if: startsWith(github.ref, 'refs/tags/v') && (contains(github.ref, '-rc') || contains(github.ref, '-beta') || contains(github.ref, '-test'))
  #       run: |
  #         echo "::set-output name=npm-tag::next"

  #     - name: Install any dependencies
  #       run: npm ci

  #     - name: Build package
  #       run: npm run build
      
  #     - name: Publish for PR
  #       if: ${{ github.event_name == 'pull_request' }}
  #       run: |
  #         npm --no-git-tag-version version "0.0.0-pr-${{ github.event.number }}-${GITHUB_SHA::8}"
  #         npm publish --tag "pr-${{ github.event.number }}" --access public
      
  #     - name: Publish for prerelease
  #       if:  ${{ github.event_name == 'release' && github.event.action == 'published' && steps.check-tag-suffix.outputs.npm-tag == 'next'}} 
  #       run: |
  #         npm --no-git-tag-version version "${GITHUB_REF/refs\/tags\/v}"
  #         npm publish --tag 'next' --access public
      
  #     - name: Publish for official release
  #       if: ${{ github.event_name == 'release' && github.event.action == 'published' && steps.check-tag-suffix.outputs.npm-tag != 'next'}} 
  #       run: |
  #         npm --no-git-tag-version version "${GITHUB_REF/refs\/tags\/v}"
  #         npm publish --tag 'latest' --access public

  # pr-comment:
  #   runs-on: ubuntu-latest
  #   needs: 
  #     - build-binaries
  #     - build-and-publish-npm-packages
  #   if: github.event_name == 'pull_request'
  #   steps:
  #     - uses: actions/checkout@v2

  #     - name: create pr comment
  #       uses: actions/github-script@v5
  #       id: pr-comment
  #       with:
  #         github-token: ${{ secrets.GITHUB_TOKEN }}
  #         script: |
  #           const fs = require('fs');

  #           function readInfo(filePath) {
  #             try {
  #               const data = fs.readFileSync(filePath)
  #               const JSONdata = JSON.parse(data.toString())
  #               const name = JSONdata.name.split("/")[1]
  #               const version = JSONdata.version
  #               return { name, version }
  #             } catch (error) {
  #               console.error(`Got an error trying to read the file: ${error.message}`)
  #             }
  #           }

  #           const ligo = readInfo("./taqueria-plugin-ligo/package.json")
  #           const smartpy = readInfo("./taqueria-plugin-smartpy/package.json")
  #           const taquito = readInfo("./taqueria-plugin-taquito/package.json")
  #           const sdk = readInfo("./taqueria-sdk/package.json")

  #           const git_short_sha = "${{ github.sha }}".substring(1, 8)
  #           const git_tag = "${{ github.ref }}".split('tags/')[1];

  #           let body = `


  #             | Git Commit | Artifacts |
  #             | ---------- | --------- |
  #             | ${git_short_sha} | [Linux](${{ needs.build-binaries.outputs.public-url-ubuntu }}) <br /> [MacOS](${{ needs.build-binaries.outputs.public-url-macos }}) <br /> [Windows](${{ needs.build-binaries.outputs.public-url-windows }}) |


  #             | npm package installation instructions |
  #             | ------------------------------------- |
  #             | npm install ${{ env.SCOPE }}/${ligo.name}@${ligo.version}-${{ github.event.number }}-${git_short_sha}|
  #             | npm install ${{ env.SCOPE }}/${smartpy.name}@${smartpy.version}-${{ github.event.number }}-${git_short_sha}|
  #             | npm install ${{ env.SCOPE }}/${taquito.name}@${taquito.version}-${{ github.event.number }}-${git_short_sha}|
  #             | npm install ${{ env.SCOPE }}/${sdk.name}@${sdk.version}-${{ github.event.number }}-${git_short_sha}|
  #           `;
            
  #           github.rest.issues.createComment({
  #             issue_number: context.issue.number,
  #             owner: context.repo.owner,
  #             repo: context.repo.repo,
  #             body: body
  #           })
  # release:
  #   name: Release
  #   runs-on: ubuntu-latest
  #   needs:
  #     - build-binaries
  #     - build-and-publish-npm-packages
  #   if: startsWith(github.ref, 'refs/tags/v')
  #   steps:
  #     - uses: actions/checkout@v2

  #     - name: Download binaries 
  #       id: download-binaries 
  #       run: |
  #         mkdir release && cd release
  #         wget ${{ needs.build-binaries.outputs.public-url-ubuntu }} -O taq-linux
  #         wget ${{ needs.build-binaries.outputs.public-url-windows }} -O taq-windows.exe
  #         wget ${{ needs.build-binaries.outputs.public-url-macos }} -O taq-macos

  #     - name: Release
  #       id: release
  #       uses: softprops/action-gh-release@v1
  #       with:
  #         files: |
  #           ./release/*
  #         draft: true