name: upload-taqueria

on: 
  pull_request:
    branches:
      - main

jobs:
  # build-and-test:
  #   permissions:
  #     contents: 'read'
  #     id-token: 'write'
  #   runs-on: ${{ matrix.os }}
  #   strategy:
  #     fail-fast: true
  #     matrix:
  #      include:
  #        - os: ubuntu-latest
  #          os_short: ubuntu
  #          deno_target: "x86_64-unknown-linux-gnu"
  #          taqueria_bin: "taqueria"
  #        - os: windows-latest
  #          os_short: windows
  #          deno_target: "x86_64-pc-windows-msvc"
  #          taqueria_bin: "taqueria.exe"
  #        - os: macOS-latest
  #          os_short: macos
  #          deno_target: "x86_64-apple-darwin"
  #          taqueria_bin: "taqueria"

  #   outputs:
  #     public-url-ubuntu: ${{ steps.public-url.outputs.ubuntu }}
  #     public-url-windows: ${{ steps.public-url.outputs.windows }}
  #     public-url-macos: ${{ steps.public-url.outputs.macos }}

  #   env:
  #     DENO_TARGET: ${{ matrix.deno_target }}
  #     TAQ_BIN: ${{ matrix.taqueria_bin }}
  
  #   steps:
  #     - name: Setup repo
  #       uses: actions/checkout@v2

  #     - name: Setup Deno
  #       uses: denoland/setup-deno@v1
  #       with:
  #         deno-version: "^1.0.0"

  #     - name: Build the binary for ${{ matrix.os }}
  #       id: build-bin
  #       shell: bash
  #       run: |
  #         deno compile --output taqueria --target $DENO_TARGET --allow-run --allow-write --allow-read --allow-env index.ts
  #         [[ $(./"$TAQ_BIN" init -p ./test_project) == "Project taq'ified!" ]]
  #         mv "${TAQ_BIN}" "taqueria.${{ matrix.deno_target }}"

  #     - name: Authenticate with GCP
  #       id: gcp-auth
  #       uses: google-github-actions/auth@v0
  #       with:
  #         workload_identity_provider: "projects/${{ secrets.GCP_PROJECT }}/locations/global/workloadIdentityPools/github-actions-storage-pool/providers/github-actions-oidc-provider"
  #         service_account: "${{ secrets.GCP_SERVICE_ACCOUNT }}@tez-ie.iam.gserviceaccount.com"

  #     - name: Upload binary to GCP
  #       id: upload-file
  #       uses: 'google-github-actions/upload-cloud-storage@v0'
  #       with:
  #         path: "taqueria.${{ matrix.deno_target }}"
  #         destination: "taqueria-artifacts/${{ github.ref }}/${{ github.sha }}"

  #     - name: Set public url
  #       id: public-url
  #       run: |
  #         echo "::set-output name=${{ matrix.os_short }}::https://storage.googleapis.com/taqueria-artifacts/${{ steps.upload-file.outputs.uploaded }}"
  
  # pr-comment:
  #   runs-on: ubuntu-latest
  #   needs: build-and-test
  #   steps:
  #     - name: create comment
  #       uses: actions/github-script@v5
  #       id: pr-comment
  #       with:
  #         github-token: ${{ secrets.GITHUB_TOKEN }}
  #         script: |
            
  #           let body = `
  #             | Artifacts |
  #             | --------- |
  #             | [Linux](${{ needs.build-and-test.outputs.public-url-ubuntu }}) |
  #             | [Windows](${{ needs.build-and-test.outputs.public-url-windows }}) |
  #             | [MacOS](${{ needs.build-and-test.outputs.public-url-macos }}) |
  #           `;
            
  #           github.rest.issues.createComment({
  #             issue_number: context.issue.number,
  #             owner: context.repo.owner,
  #             repo: context.repo.repo,
  #             body: body
  #           })

  publish_npm:
    # needs: build-and-test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: taqueria-plugin-ligo
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with: 
          registry-url: 'https://npm.pkg.github.com'
      
      - run: | 
          contents=$(jq '.name |= "@ecadlabs/" + .' package.json) && \
          echo ${contents} > package.json

      - name: get current npm registry version
        id: get-package-version
        env: 
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: echo "::set-output name=version::$(npm show @ecadlabs/taqueria-plugin-ligo --json | jq .version)"

      - run: echo ${{ steps.get-package-version.outputs.version }}
      - run: echo $(jq .version package.json)
      - run: |
          version="${{ steps.get-package-version.outputs.version }}"
          package=$(jq .version package.json)
          echo "${version}>${package}"

      - run: npm install
      # - run: npm publish
      #   if: steps.get-package-version.outputs.version > $(jq .version package.json)
      #   env: 
      #     NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
