name: upload-taqueria

on: 
  pull_request:
    branches:
      - main

jobs:
  build_taqueria_and_test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
       include:
         - os: ubuntu-latest
           deno_target: "x86_64-unknown-linux-gnu"
           taqueria_bin: "taqueria"
         - os: windows-latest
           deno_target: "x86_64-pc-windows-msvc"
           taqueria_bin: "taqueria.exe"
         - os: macOS-latest
           deno_target: "x86_64-apple-darwin"
           taqueria_bin: "taqueria"

    env:
      DENO_DIR: ./deno
      DENO_TARGET: ${{ matrix.deno_target }}
      TAQ_BIN: ${{ matrix.taqueria_bin }}

    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: "^1.0.0"

      - name: Build the binary for ${{ matrix.os }}
        id: build-bin
        shell: bash
        run: |
          deno compile --output taqueria --target $DENO_TARGET --allow-run --allow-write --allow-read --allow-env index.ts
          [[ $(./"$TAQ_BIN" init -p ./test_project) == "Project taq'ified!" ]]

      - name: Authenticate with GCP
        id: gcp_auth
        uses: google-github-actions/auth@v0
        with:
          # TODO: Use secrets
          workload_identity_provider: projects/108868714658/locations/global/workloadIdentityPools/github-actions-storage-pool/providers/github-actions-oidc-provider
          service_account: github-storage-service-account@tez-ie.iam.gserviceaccount.com

      - name: Upload binary to GCP
        id: upload-file
        uses: 'google-github-actions/upload-cloud-storage@v0'
        with:
          path: "${{ matrix.taqueria_bin }}"
          destination: 'bucket-name/${GITHUB_REF}/${GITHUB_SHA}/taqueria.${{matrix.deno_target}}'

      # - name: Upload the binary for ${{ matrix.os }} 
      #   uses: actions/upload-artifact@v2
      #   if: success()
      #   with:
      #     name: taqueria.${{matrix.deno_target}}
      #     path: ${{ matrix.taqueria_bin }}
      #     retention-days: 1
